.row{
	display: flex;
	flex-direction: row;
}

.cstm-col-3{
	display: flex;
	flex-direction: column;
	width: 200px;
	transition: width 0.3s ease-in-out;
	overflow: hidden;
}

.collapsed-col-3{
	display: flex;
	flex-direction: column;
	width: 60px;
	transition: width 0.3s ease-in-out;
	overflow: hidden;
}

.cstm-col-9{
	display: flex;
	flex-direction: column;
	width: 78%;
}

.brde-lft{
	border-right: solid 0.1px var(--dividers-color);
}

.vh-90{
	height: 90dvh;
}
