:root {
  --bg-body-color: white;

  /* APP BAR */
  --app-bar-bg: #0e83e9; /* Light por defecto */
  --app-bar-text-color: #e0e0e0; /* Light por defecto */
  --app-bar-icons-color: white; /* Light por defecto */
  
  /* SIDE MENU */
  --left-bar-text-color: #c9c9c9; /* Light por defecto */
  --dividers-color: #70767c; /* Light por defecto */
  --left-bar-icons-color: white; /* Light por defecto */
  --left-bar-icons-active-color: #ffc414cc;
  
  /* BODY PAGES */
  --body-text-color: #70767c
}

.center{ 
  justify-content: center;
  align-items: center
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fullScreen{
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-body-color);
}

.fullScreen_light{
  --app-bar-bg: #0e83e9;
  --left-bar-text-color :  rgb(37, 37, 37);
  --body-text-color: rgb(37, 37, 37);

  --left-bar-icons-color: rgb(109, 109, 109);
  --left-bar-icons-active-color: #0e83e9;
}

.fullScreen_dark{
  --app-bar-bg: #ffc414cc;
  --bg-body-color: rgb(37, 37, 37);
}
